<% if (page.tags && page.tags.length) { %>
    <div class="article-tag">
        &nbsp;<i class="fas fa-tag"></i>
        <%- list_tags(page.tags, { show_count: false, style: 'link' }) %>&nbsp;
    </div>
<% } %>
